<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Omni.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>356BCB7F1D571942007CBF2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>356BCB931D571942007CBF2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>356BCB9E1D571942007CBF2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
